.parent {
    height: 700px;
    width: 700px;
    border: solid black 2px;
    position: absolute;
}


.sq {
    height: 100px;
    width: 100px;
    border: red solid 1px;
    position: absolute;
}
    
.ci{
   height: 100px;
   width: 100px;
   border-radius: 50%;
   border: blue solid 1px;
   position: absolute;
}

.square1{
    left: 0;
    top: 0;
}

.square2{
    left: 0;
    bottom: 0;
}

.square3{
    right: 0;
    top: 0;
}

.square4{
    right: 0;
    bottom: 0;
}

.circle1 {
    left: 0;
    right: 0;
    margin: auto;
}

.circle2 {
    bottom: 0;
    top: 0;
    margin: auto;
}


.circle3 {
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.circle4 {
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
